.parent {
  height: 500px;
  background-color: orange;
  padding: 10px;
}
.child {
  height: 200px;
  background-color: skyblue;
  padding: 10px;
}
.grand {
  height: 100px;
  background-color: gray;
}
.grand2 {
  height: 80px;
  background-color: rgb(126, 90, 90);
}